
.container {
    direction:rtl;
    font-size: 1rem;
    font-family: Arial,san-serif;
}
div {text-align: right;
}
.header {
    background-image:url("Header-LamaKedaiEshet1.png");
    width: 100%;
    min-height: 400px;
    padding: 0;
    margin:0;
}
 .coteret { 
    font-size: 5rem;
    padding-right: 25rem;
    color: white;
    text-shadow: 1px 1px 6px #282828;
    font-weight: 500;
    
    
}
h2 {
    margin-top: 0.5rem;
}

.card {
     position: relative;
     display: flex;
    flex-direction: column; 
     margin-bottom: 1.5rem;
}
.sections {
    height: 3rem;
    padding-top: 0.5rem;
}
.section-buttons {
   width: 100%;
   position: relative;
    
}
.button {
    font-size: 1.3rem;
    font-family: Arial,san-serif;
    position: relative;
    white-space: normal;
    /* font-family: 'icomoon' !important; */
    line-height: 1;
    background-color: #63a9e3;
    border: none;
    color: white;
    padding-top: 23px;
    padding-bottom: 23px;
    text-align: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px);
    float: right;
    margin-left: 0.7%;
    margin-bottom: 1rem;
    width: 13.42%;
    height: 100%;
    }
      
.button:hover {
        background-color: #3087ce;
      }
      .button1 {
        font-size: 1.3rem;
        font-family: Arial,san-serif;
        position: relative;
        white-space: normal;
        font-family: 'icomoon' !important;
        line-height: 1;
        background-color: #3087ce;
        border: none;
        color: white;
        padding-top: 23px;
        padding-bottom: 23px;
        text-align: center;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px);
        float: right;
        margin-left: 0.7%;
        width: 13.42%;
        height: 100%;
        }
          
    .button1:hover {
            background-color: #63a9e3;
          }
p {
    font-family: Arial,san-serif;
    font-size: 1.1rem;
}

h3 {
    font-family:Arial,san-serif;
    margin:0.5rem;
}
.icon-fon_branch {
    content: "\e93e";
}
*, *:before, *:after {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.branch-add {
    margin: 1em;
    float: right;
    width: 55%;
    box-sizing: border-box;
    flex: 0 0 56%;
    border-left: 1px dotted #737577;
    padding: 0.5em;

}
.branch-add1 {
    margin: 1em;
    float: right;
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 56%;
    padding: 0.5em;

}
.branch-tel {
    margin: 1em;
    float: right;
    width: 30%;
    box-sizing: border-box;
    flex: 0 0 56%;
    padding: 1em;
    
}
.card-header {
    display: block;
    height: 61px;
}
.card .card-header .card-body {
    background-color: #8ec6fa;
}
.card-body{
    direction: rtl;
    margin: 5px;
    padding: 5px;
    border-style: 1px solid gray;
}

li {
    padding: 0.2em;
    font-size: 1.3rem;
}
    
